<span class="red">Hi there!</span>

<p>
  I am a dedicated and experienced software engineer with a strong focus on Java web development frameworks, database management, and containerization technologies. Over the course of 7 years, I have honed my skills in creating robust and scalable solutions for complex challenges. My educational journey includes a Bachelor's degree in Software Engineering and a Master's degree in Computer Science from the University of Alberta, where I delved into the fascinating realms of Machine Learning, Data Science, and Database technologies, exploring areas such as Open Entity Resolution, Neural Networks, NLP, LLM, Text Classification, and Entity Matching. 

During my career, I've made impactful contributions as a Java Enterprise Developer at Aimsio, where I worked on field management SaaS, and gained valuable leadership experience as a Software Engineer and Technical Lead for a private cloud platform and storage team at Fanap Co. My time as a Teaching Assistant/Research Assistant at the University of Alberta's Database Lab further strengthened my expertise in SQL and MongoDB. 

I am passionate about continuous learning and innovation, striving to deliver cutting-edge solutions that make a meaningful impact in the tech world.
</p>

