<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="circular heather"></div>
      </div>
      <div class="column">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-university"></i>
            University of Alberta
            <br>Department of Computer Science
          </li>
          <li><i class="fa-li fa fa-envelope"></i>
            <a href="mailto:mehdi74akbarian@gmail.com">mehdi74akbarian@gmail.com</a>
          </li>
          <li><i class="fa-li fab fa-skype"></i>
            @mehdi74akbarian
          </li>
          <br>
        </ul>
      </div>
      <div class="column">
        <ul class="fa-ul">
          <li><i class="fa-li fab fa-github"></i><a href="https://github.com/makbn">@makbn</a></li>
          <li><i class="fa-li fab fa-linkedin"></i><a href="https://www.linkedin.com/in/mehdiakbarian/">in/mehdiakbarian</a></li>
        </ul>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="content has-text-centered">
      <p>&nbsp;</p>
      <p>
        🚀 All rights reserved by Mehdi Akbarian Rastaghi | 2018-<span class="current-year"></span> | Forked from <a href="https://github.com/heathermiller/wwwheathermiller">Here!</a>
      </p>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/resources/js/vendor/retina.js"></script>
</body>

</html>
