<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="circular heather"></div>
      </div>
      <div class="column">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-university"></i>
            Texas A&M University
            <!-- <br>Department of Computer Science -->
          </li>
          <li><i class="fa-li fa fa-envelope"></i>
            <a href="mailto:saadijaz@outlook.com">saadijaz@outlook.com</a>
          </li>
          <br>
        </ul>
      </div>
      <div class="column">
        <ul class="fa-ul">
          <li><i class="fa-li fab fa-github"></i><a href="https://github.com/saadijaz1">@saadijaz1</a></li>
          <li><i class="fa-li fab fa-linkedin"></i><a href="http://Linkedin.com/in/saadijaz1">in/saadijaz1</a></li>
        </ul>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="content has-text-centered">
      <p>&nbsp;</p>

    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/resources/js/vendor/retina.js"></script>
</body>

</html>
