<svg height="0" width="0">
  <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
    <stop offset="0%" style="stop-color:#e052a0;stop-opacity:1" />
    <stop offset="100%" style="stop-color:#f15d40;stop-opacity:1" />
  </linearGradient>
</svg>


<!-- First Section with Lighter Blue Background -->
<div class="lighter-blue-bg-bar">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="slogan">
                        Hello!
                        <br>I am Saad, a proud alumnus of the Texas A&M University and a <span class="highlight-anim"><span class="highlight__inner-anim">Machine Learning Developer</span></span> based in Calgary.</span>
                        I have a knack for turning complex data problems into compelling products, leveraging my analytical acumen, problem-solving abilities, and data-driven mindset.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End of First Section -->

<!-- Second Section with White Background -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="news">
                  <b class="slogan">
                    Machine Learning Developer
                  </b>
                  <br>
                  <span style="color: #f15d40;">•</span> Proficient in designing, training, and deploying machine learning models, including neural networks and deep learning architectures, for diverse applications such as object detection, natural language processing (NLP), and resource usage forecasting. <br>
                  <br>
                  <span style="color: #f15d40;">•</span> Adept at creating efficient data processing pipelines for complex datasets, including 3D point cloud data, and extracting meaningful features for machine learning tasks. <br>
                  <br>
                  <span style="color: #f15d40;">•</span> Hands-on experience in developing end-to-end ML pipelines, from data preprocessing to model deployment, utilizing Azure and Docker for scalability and efficiency.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Second Section -->


<svg height="0" width="0">
  <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
    <stop offset="0%" style="stop-color:#52e09b;stop-opacity:1" />
    <stop offset="100%" style="stop-color:#40f175;stop-opacity:1" />
  </linearGradient>
</svg>


<!--Work Experience-->
<div class="lighter-blue-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns collaborators">
        <div class="column is-one-fifth large-white">
          <span class="at-a-glance-header">
            <span class="fas fa-briefcase"></span>Work Experience</span>
        </div>
        <p></p>
        <div class="column" id="work-experience">
          <span class="list-head">AltaML.</span>
          <div class="abbrv">Jan. 2023 – May 2023 | Associate Machine Learning Developer</div>
          <br>
          <a href="https://altaml.com">ALtaML, Inc.</a>, <span class="job"> As an Associate ML developer I collaborated with cross-functional teams to develop and implement machine learning models and pipelines. Conducted thorough exploratory data analysis, enabling a deep understanding of complex datasets. Implemented feature selection strategies to improve model performance and interpretability. Developed a comprehensive pipeline for 7-day forecast predictions, employing a range of machine learning models including LSTM, XGBoost, and SARIMA. Took on a leadership role by managing a team of three individuals, ensuring project milestones were met, and adhering to the Scrum framework. Effectively communicated project progress and challenges to the non-technical clients on a bi-weekly basis, using an understandable story supported with visualizations, and interpretation that translated technical knowledge. <ul>
              <li>Executed a POC for a solar radiation prediction system after comprehensive EDA and implementation of machine learning models (LSTM, XGBoost, XGBoost SKForecast). The resultant solution played a pivotal role in obtaining client approval for the product aimed at significant energy and cost saving. </li>
              <li>Developed an end-to-end scalable pipeline for streamlined data ingestion and processing, model deployment, and data visualization, adhering to industry standards. This initiative significantly contributed to informed decision-making for subject matter experts. </li>
              <li>Ensured error-free software delivery by following OOP principles, writing clean and maintainable code, robust tests and setting up CI/CD using GitHub Actions workflows.</li>
              <li>Utilized the Agile Scrum framework to execute all tasks, ensuring efficient project management. Effectively communicated complex technical details to non-technical stakeholders, fostering clear understanding and collaboration.</li>
              <li>Taking on a leadership role by managing a team of three individuals, ensuring project milestones were met, and adhering to the Scrum framework.</li>
              <li>Effectively communicating project progress and challenges to the non technical clients on a bi-weekly basis, using an understandable story supported with visualizations, and interpretation that translated technical knowledge.</li>
            </ul>
        </div>
        <div class="column" id="pro_experience">
          <span class="list-head">Zachry Construction Corp.</span>
          <div class="abbrv">Jan. 2016 – Nov. 2020 | Project Engineer</div>
          <br>
          <a href="www.zachryconstructioncorp.com">Zachry Construction Corp.</a>, <span class="job"> is a leading, privately owned construction company headquartered in San Antonio, Texas. Rooted in 90 years of experience, and in its third generation of family leadership, Zachry specializes in the construction of large, technically unique projects around the world. At Zachry I: <ul>
              <li>Led the development of comprehensive work plans and played a pivotal role in executing them, driving successful project outcomes through effective coordination with the project team.</li>
              <li>Tracked and Forecasted cost at completion of project using various techniques such as Linear Regression, with 98% accuracy.</li>
              <li>Optimized schedules to balance labor resources with demand, to save, on average, 2 months of project schedule.</li>
              <li>Managed teams of 8-10 people on various projects ranging in value from $3 Million to $550 Million, and completed projects successfully under budget and ahead of schedule.</li>
              <li>Achieved precise quantity take-offs, analyses, and estimates for all project elements within the assigned scope, resulting in enhanced cost accuracy and budgetary control.</li>
              <li>Estimated construction projects that lead to award of 50% of the projects (industry standard 20%).</li>
              <li>Secured comprehensive scope requisitions for designated trades, collaborating effectively with fellow estimators to eliminate scope gaps and overlaps, resulting in streamlined project planning and execution for improved project efficiency.</li>
              <li>Meticulously evaluated subcontractor proposals in relation to their designated work scopes, ensuring scope coverage and minimizing scope gaps, resulting in reduced project risk.</li>
              <li>Provided strategic expenditure recommendations to the Chief Estimator, leading to informed decision-making and optimized resource allocation.</li>
            </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Projects -->
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div id="background" class="at-a-glance-header">
          <i class="fas fa-code-branch"></i>
          Projects
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
          </div>
          <div class="column content work">
              Most of my work is available in my <a href="https://github.com/saadijaz1">Github repositories</a>.
            </p>
            <ul>
              <li>
                <a href="https://github.com/saadijaz1/Budgeting-Tool-LLM" target="_blank">News Research Tool - LLM</a>:
                Used Google Palm to create a chatbot-like tool that can be used for research purposes. The user can upload PDF files or paste a URL to an article. The idea is to create a GPT tool for custom data.
              </li>
              <li>
                <a href="https://github.com/saadijaz1/Budgeting-Tool-LLM" target="_blank">Budgeting-Tool-LLM</a>:
                This Personal Finance Dashboard is a powerful tool designed to help users manage their finances more effectively. Leveraging the OpenAI API, it provides advanced insights into spending habits, budget management, and saving strategies. The tool supports data input in CSV format and offers an interactive Streamlit-based dashboard for easy visualization and analysis of financial data.
              </li>
              <li>
                <a href="https://github.com/saadijaz1/Continuous-Outcome-Housing-Prices-Calgary" target="_blank">Calgary Housing Prices Model</a>:
                This project was done by scraping the data from Zillow for the city of Calgary, AB. Created a model that predicts the price of the property type based on the number of bedrooms, bathrooms, square footage, postal code, and property type. Scraped close to 900 listings on Zillow for the city of Calgary, AB. Extracted details from the listing to quantify the values of bedrooms, bathrooms, square footage, postal code, and property type. Tried Linear, Lasso, and Random Forest Regressors to find the best model. Using Flask, the project was then deployed. "Render" was used as the web service. The project can be accessed using <a href="https://calgaryhousepricedeployment.onrender.com" target="_blank">this link</a>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Skills-->
<div class="lighter-blue-bg-bar">
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div id="skills" class="at-a-glance-header">
          <i class="fas fa-code"></i>
            Skills
        </div>
      </div>
      <div class="column">
        <span class="subsec-head">Programming languages</span>
                    <table class="table service-table">
                        <tbody>
                            <tr>
                                <th>Python
                                    <div class="abbrv">
                                        I am experianced in coding with python language and have been using it for around 3 years.
                                    </div>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    SQL
                                    <div class="abbrv"> From time to time I have worked on projects that require SQL. I have intermediate expertise in SQL and I am comfortable with Stored Procedures, CTEs, CASE Statements, Joins etc.</div>
                                </th>
                            </tr>

                        </tbody>
                    </table>
                    <span class="subsec-head">Frameworks & Tools</span>
                    <table class="table service-table">
                        <tbody>
                            <tr>
                                <th>
                                    Pytorch
                                    <div class="abbrv">My go to library for building NNs from scratch </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Tensorflow
                                    <div class="abbrv">If I have to, I'll work with it!</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Numpy
                                    <div class="abbrv">What data structure is better than arrays while working with neurons!</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Pandas
                                    <div class="abbrv">Best for handling and manipulating data in Python</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Scikit-Learn
                                    <div class="abbrv">Little can't be solved with Scikit-Learn</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Azure
                                    <div class="abbrv">Mostly I use Azure for cloud computing but that's not to say I can't work with AWS or GCP</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Flask
                                    <div class="abbrv">Easy to use for Web Application Development and building APIs</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Git
                                    <div class="abbrv">How are we gonna keep track of our code without it?</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Docker
                                    <div class="abbrv">Best for containerization</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Other Skills
                                    <div class="abbrv">Tableau, Power BI, OOP, DSA, MS Office, Matpoltlib, R, Java, HTML</div>
                                </th>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="column">
                    <span class="subsec-head">Certificates</span>
                    <table class="table service-table">
                        <tbody>
                            <tr>
                                <th>
                                    Designing and Implementing a Data Science Solution on Azure (Microsoft DP-100),
                                    <div class="abbrv">Successfully passed this exam that rigorously assessed competencies in data preparation, modeling, model deployment and monitoring, and data visualization and reporting using Azure services and tools.</div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    IBM Data Science Certification
                                    <div class="abbrv">Proficiently exhibited the practical application of utilizing various data tools and methodologies, including database management tools and IBM Cloud services, for data-driven decision-making.</div>
                                </th>

                            </tr>
                            <tr>
                                <th>
                                    Google Data Analytics Specialization
                                    <div class="abbrv">Capstone project showcased data analysis fundamentals, visualization, and advanced analysis techniques using SQL and Python. Proficient in using various data tools and methodologies for making data-driven decisions.</div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</section>

<!--Education-->
<div class="section">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    <div id="education" class="at-a-glance-header">
                        <i class="fas fa-history"></i>Education
                    </div>
                </div>
                <div class="column">
                    <div class="teaching-head">Texas A&M University</div>
                    <div class="abbrv">Sep. 2014 - Dec. 2015 | M.Eng. in Civil Engineering
                    <br> with a focus on Project Management
                    </div>
                    <p></p>
                    <div class="teaching-head">National University of Sciences and Technology</div>
                    <div class="abbrv">Sep. 2010 - Jun. 2014 | B.Eng. in Civil Engineering</div>
                </div>
            </div>
    </section>
    </div>

    <!--Interests-->
    <div class="lighter-blue-bg-bar">
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div id="background" class="at-a-glance-header">
                            <i class="fas fa-star"></i>Interests
                        </div>
                    </div>
                    <div class="column content research">
                        <p>
                            I'm interested in different implementations of Machine Learning:
                        </p>
                        <ul>
                            <li>Natural Langauge Processing,</li>
                            <li>Computer Visions,</li>
                            <li>Machine Learning Development,</li>
                            <li>Statistical Modeling,</li>
                            <li>Deep Learning,</li>
                            <li>Data Science</li>
                        </ul>
                        <!-- <p>
                            My principal research interests are in the area of <b class="green_text"> <b class="green_text"><i>Machine Learning Engineering</i></b>, <b class="green_text"><i>Data Science</i></b>, and <i>LLMs</i></b>.
                        </p>

                        <p>
                            Throughout my Bachelor study I did not have enough time to explore all sides of data, even though I did gain a lot of experience working in Cognitive Computing Lab (CCL) on a Robot Hand Sensing project to track a magnet inside an amputet hands muscles.
                            This Tracking was done with the help of Recurrent Neural Networks(RNNs) and I was able to publish my very first paper on it. my main contributions during my bachelors project are:
                            <li>ObjectLocalizationinHandinordertoControla Robot Hand Using RNN.</li>
                            <li>Noisecancellationinmagnetic-basedlocalizationusingcomplex-valued neural networks.</li>
                            <li>Robustmagnet-basedlocalizationsystemtosensordis-placementusingthe Genetic Algorithm (GA).</li>

                        </p>

                        <p>
                            During my Master's, I achieved a lot in the field of computer visions with my role as a Research Assistance. I was able to work on various types of images including and not limited to, IR, RBG, UAV and etc. My main contributions could be pointed out as
                            follows:
                            <li>Object detection with the help of Multitask Learning (MTL) to improve the Mask R-CNNs ability to detect small objects with higher precision. </li>
                            <li>This method was applied on backbone of the object detection methods to enrich their output feature maps</li>
                            <li>The Object detection methods used for this improvement on UAV data were YOLO, Mask R-CNN, and DETR.</li>


                        </p> -->

                    </div>
                </div>
            </div>
        </section>
    </div>